<head>
  <link rel="stylesheet" href="./styles/modal.css" />
  <link rel="stylesheet" href="./styles/fontawesome/css/fontawesome.min.css" />
</head>
<style>
  .flex-container {
    font-size: 12pt;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: yellowgreen;
  }
</style>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="card card-body modal-content col-md-6 col-xl-4 col-xs-2 m-auto">
    <div style="display: none" id="monke">
      <img src="./img/monke.png" alt="monke" style="width: 100%" />
    </div>
    <div id="mainModal">
      <div class="modal-header text-center mb-3">
        <span class="close" style="font-size: 34px; cursor: pointer"
          >&times;</span
        >
        <h2>Что такое FreeLunchBot ?</h2>
      </div>
      <div class="modal-body text-left">
        <p>
          FreeLunchBot - это бот для автоматической ежедневной записи студентов
          на обед через сервис FreeLunch
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2 ml-0 mr-0">
  <div class="col-md-6 col-xl-4 col-xs-2 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <b style="color: orange">FreeLunch</b>
        <br />
        bot <i style="color: lightblue" class="fas fa-robot"></i>
      </h1>
      <%- include('./partials/messages.ejs') %>
      <h2 class="mt-4 mb-4 text-center">Регистрация закрыта</h2>
      <h4 class="mb-4 text-center">Спасибо за вашу поддержку</h4>
      <div class="flex-container">
        <span>Статус:</span>
        <div>
          <div class="indicator"></div>
          <a href="#logs-header">Online</a>
        </div>
      </div>
      <p class="lead mt-2">
        <i class="fas fa-copyright"></i> Copyright 2021
        <a href="https://vk.com/pavel.poly" target="_blank"> Pavel Polyakov</a>
      </p>
      <button id="openModal" class="btn">
        <i class="fas fa-2x fa-info-circle"></i>
      </button>
    </div>

    <%- include('./partials/bot_logs.ejs', {logsGroups: logsGroups}) %>
  </div>
</div>
<script>
  let clicks = 0;

  let monke = document.getElementById("monke");
  let mainModal = document.getElementById("mainModal");

  // Get the modal
  let modal = document.getElementById("myModal");

  // Get the button that opens the modal
  let btn = document.getElementById("openModal");

  // Get the <span> element that closes the modal
  let span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function () {
    console.log(clicks);
    clicks++;
    if (clicks >= 5) {
      mainModal.style.display = "none";
      monke.style.display = "block";
      clicks = 0;
    }
    modal.style.display = "block";
  };

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    if (clicks <= 5) {
      mainModal.style.display = "block";
      monke.style.display = "none";
    }
    modal.style.display = "none";
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      if (clicks <= 5) {
        mainModal.style.display = "block";
        monke.style.display = "none";
      }
      modal.style.display = "none";
    }
  };
</script>
